@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');


:root {
    --primary-color: white;
    --secondary-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav {
    gap: 0.5rem;
}

.navbar-nav a {
    border-radius: 5px;
}

.nav-bottom a:hover {
    background-color: violet;
}

#bio {
    margin-top: -1.2rem;
}

.logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

#logoname {
    font-family: 'Shantell Sans', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.login,
.image {
    min-height: 90vh;
}

.login-container {
    width: 78vw;
    margin-top: 1.5rem;
}

.bg-image {
    background-image: url('https://source.unsplash.com/1000x1200?model');
    background-size: cover;
    background-position: center center;
}

/****************************************************
HOME PAGE
****************************************************/
.homePage p {
    font-weight: 300;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.homePost {
    height: 35vh;
    object-fit: cover;
    border-radius: 0%;
}

.homePost:hover {
    cursor: pointer;
    opacity: 0.8;
}

#like {
    color: red;
}

#like:hover {
    cursor: pointer;
}

#comment {
    color: blue;
}

#comment:hover {
    cursor: pointer;
}


/****************************************************
    POST PAGE
****************************************************/
.postForm input {
    width: 100%;
    height: 3rem;
    border: 1px solid grey;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.postForm input:hover {
    cursor: pointer;
    color: rgb(0, 0, 255);
    background-color: #f2f2f2;
}

.postForm button {
    background-color: blue;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.postForm button:hover {
    cursor: pointer;
    opacity: 0.8;
}


/****************************************************
PROFILE PAGE  
****************************************************/

.profilePost img {
    height: 12rem;
    object-fit: cover;
    border: 1px solid grey;
    border-radius: 0%;
}

.profilePost:hover {
    cursor: pointer;
}

.profilePost:hover img {
    opacity: 0.8;
}



/****************************************************
    MEDIA QUERIES
****************************************************/

@media(width <=991px) {
    .nav-bottom {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1000;
        background-color: white;
        border-top: 1px solid #d4d4d4;
        padding: 0.4rem 1rem;
    }

    .login-container {
        width: 100vw;
        height: 100%;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: center;
        gap: 6vw;
    }

    /* HOME PAGE  */


    /* PROFILE PAGE  */
    .profilePost img {
        height: 8rem;
        width: 30.5vw;
    }
}